{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

<h1>Ajouter un article</h1>

{#
La destination (URL) du form sera la même que celle qui affiche le form
donc soit /post/add, soit /post/edit/5 par ex.
#}


{{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">Enregistrer</button>

{{ form_end(form) }}

{% endblock %}